* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Général */
body {
    background: linear-gradient(to top right, #001932, #0041B5);
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.search-bar {
    width: 300px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-button {
    background: #0041B5;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.sort-button {
    background: #fff;
    color: #0041B5;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}





.listeSalles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.col1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}







/* Card style */
.card {
    color: white;
    background-color: #0080FF;
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
}

.card.expanded {
    background-color: #82C1FF;
}

.cardMainInfos {
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #0080FF;
    box-shadow:
            inset 0 -17.01px 17.01px #004991, /* Première ombre intérieure */
            inset 0 17.01px 17.01px #00ABFF; /* Deuxième ombre intérieure */
}

.room-name {
    font-size: 40px;
    padding: 0;
}

.card-top {
    background-color: transparent;
    height: 40%;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
}

.etat {
    display: flex;
    flex-direction: row;
}

.status {
    font-size: 15px;
    margin-right: 10px;
}

.pastilleStatus {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: red;
}

#last-update {
    font-size: 0.8em;
    margin-left: 10px;
}

/* Hidden content */
.card-content {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    display: none;
    margin-top: 15px;
}

.card-content .location {
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
}

.metrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.metric {
    color: #000;
    padding: 5px;
    border-radius: 8px;
    width: 100px;
    height: min-content;
}

.metric .icon {
    float: right;
    height: 20px;
}

.metric .value {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
    font-size: 40px;
}

.metric .unit {
    margin-top: -20px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.m1 {
    background-color: #FFFB78;
    border: 2px solid #FFD900;
}

.m2 {
    background-color: #FFBABA;
    border: 2px solid #FF7171;
}

.m3 {
    background-color: #B9F0FF;
    border: 2px solid #6ADFFF;
}

.conseils {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.conseils .iconDanger {
    width: 50px;
    height: 50px;
}

.conseils .text {
    border: 2px solid #9F9F9F;
    background-color: #E7E7E7;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
}
