/*
        SALLE  LISTE SECTION
 */

/* Général */

.search {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: flex-start;
    display: flex;
    gap: 10px;
}

.titleSalles {
    margin-top: 15px;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.btnAjout {
    margin: 10px 0 10px 0;
    width: min-content;
    background-color: #289EFF;
    border-radius: 10px;
    color: white;
}

.btnAjout:hover {
    background-color: #008CFF;
}

.hidden {
    display: none;
}

.btnSuppr {
    margin: 10px 0 10px 0;
    width: min-content;
    background-color: #FF282C;
    border-radius: 10px;
    color: white;
}

.btnSuppr:hover {
    background-color: #DC0004;
}

.containerSalles {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.listeSalles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.col1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.checkboxSalle {
    width: 15px;
}

/* Card style */
.salleBlock {
    color: white;
    background-color: #0080FF;
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
}

.salleBlock.expanded {
    background-color: #82C1FF;
}

.salleMainInfos {
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #0080FF;
    box-shadow:
            inset 0 -17.01px 17.01px #004991, /* Première ombre intérieure */
            inset 0 17.01px 17.01px #00ABFF; /* Deuxième ombre intérieure */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Ajoute une transition fluide */
}

.salleMainInfos:hover {
    box-shadow:
            inset 0 -17.01px 17.01px #004991, /* Première ombre intérieure */
            inset 0 17.01px 17.01px #00ABFF, /* Deuxième ombre intérieure */
            2px 2px 20px white,
            -2px -2px 20px white;
}

.salleName {
    font-size: 40px;
    padding: 0;
}

.salleTop {
    background-color: transparent;
    height: 40%;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
}

.etatSalle {
    display: flex;
    flex-direction: row;
}

.salleStatus {
    font-size: 15px;
    margin-right: 10px;
}

.sallePastilleStatus {
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

#salleLastUpdate {
    font-size: 0.8em;
    margin-left: 10px;
}

/* Hidden content */
.salleContent {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    display: none;
    margin-top: 15px;
}

.salleContent .location {
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
}

.salleContent .saAttribue {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.salleMetrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.salleMetric {
    color: #000;
    padding: 5px;
    border-radius: 8px;
    width: 100px;
    height: min-content;
}

.salleMetric .icon {
    float: right;
    height: 20px;
}

.salleMetric .value {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
    font-size: 40px;
}

.salleMetric .unit {
    margin-top: -20px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.m1 {
    background-color: #FFFB78;
    border: 2px solid #FFD900;
}

.m2 {
    background-color: #FFBABA;
    border: 2px solid #FF7171;
}

.m3 {
    background-color: #B9F0FF;
    border: 2px solid #6ADFFF;
}

.conseils {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.salleBtnDetail {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #0080FF;
    color: black;
    transition: box-shadow 0.2s ease, transform 0.3s ease; /* Ajoute une transition fluide */
    border: 1px solid black;
}

.salleBtnDetail:hover {
    box-shadow:
            1px 1px 5px black,
            -1px -1px 5px black;
}

.salleBtnModif {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 215, 0);
    color: black;
    transition: box-shadow 0.2s ease, transform 0.3s ease; /* Ajoute une transition fluide */
    border: 1px solid black;
}

.salleBtnModif:hover {
    box-shadow:
            1px 1px 5px black,
            -1px -1px 5px black;
}