.navbar {
    width: 1115px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.accueil {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 65px;
}

.el1 {
    font-size: 32px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: "Train One", system-ui;
    color: black;
}

.el1:hover {
    text-shadow: 1px 1px 2px gray;
}

.el {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    border-left: 1px solid black;
    font-size: 20px;
    padding-left: 45px;
    margin-right: 45px;
}

.el:hover {
    text-shadow: 1px 1px 2px gray;
}