.all {
    width: 75%;
    margin: auto;
}

h1 {
    grid-area: titre1;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

h2 {
    grid-area: titre2;
    text-align: center;
    margin-bottom: 30px;
}






/*  METRIQUES  */

.metriques {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dataBlock {
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
}

.bottomMet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.temp {
    border: 2px solid #FFD900;
    background-color: #FFFB78;
}

.co2 {
    border: 2px solid #FF7171;
    background-color: #FFBABA;
}

.humidite {
    border: 2px solid #6ADFFF;
    background-color: #B9F0FF;
}

.textData {
    font-size: 18px;
    font-weight: 20;
}

.etatNomCap {
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nomCap {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
}

.data {
    text-align: end;
    font-size: 42px;
    font-weight: bold;
}

.ppm {
    font-size: 18px;
}

.el {
    margin-left: 10px;
}

.conseils {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    border-radius: 10px;
}