body {
    background-image: linear-gradient(to top right, #001932, #0041B5);
    background-attachment: fixed;
    color: white;
}

.all {
    width: 75%;
    margin: auto;
}

h1 {
    grid-area: titre1;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

h2 {
    grid-area: titre2;
    text-align: center;
    margin : 15px;
}






/*  METRIQUES  */

.metriques {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dataBlock {
    border-radius: 10px;
    padding: 10px;
    width: 305px;
}

.bottomMet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.temp {
    border: 2px solid #FFD900;
    background-color: #FFFB78;
}

.co2 {
    border: 2px solid #FF7171;
    background-color: #FFBABA;
}

.humidite {
    border: 2px solid #6ADFFF;
    background-color: #B9F0FF;
}

.textData {
    font-size: 18px;
    font-weight: 20;
}

.etatNomCap {
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.etatCap {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: red;
}

.etatCapFonctionne {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: green;
}

.nomCap {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 20;
}

.data {
    text-align: end;
    font-size: 42px;
    font-weight: bold;
}

.ppm {
    font-size: 18px;
}

.el {
    margin-left: 10px;
}

.conseils {
    text-align: center;
    font-size: 10px;
    color: black;
    background-color: white;
    height: 50px;
    width: 100%;
    margin-bottom: 40px;
}