{% extends 'base.html.twig' %}

{% block title %}Supprimer une attribution {% endblock %}

{% block body %}
    <div class="container my-5" style="width: 40%">
        {% if detail_plan.etatSA == 'installation' %}
            <h1 class="text-center mb-4"> {{ "Marque l'installation de "  ~ detail_plan.SA.getNom ~ ' dans ' ~ detail_plan.Salle.getNom ~ ' comme fini ?'}}</h1>
        {% elseif detail_plan.etatSA == 'desinstallation'%}
            <h1 class="text-center mb-4"> {{ 'Desinstallation de ' ~ detail_plan.SA.getNom ~ ' dans ' ~ detail_plan.Salle.getNom}}</h1>
            <p>Êtes vous sur de vouloir valider la demande de desinstallation ? (La demande sera supprimee dans la base de donnees) </p>
        {% endif %}
        <form method="post">
            <a class="btn btn-primary" href="{{ path('app_lier_liste', {'id':detail_plan.plan.nom, 'batiment' :detail_plan.salle.etage.batiment.id}) }}" style="margin-right: 10px; margin-top: 10px">Annuler</a>
            <button class="btn btn-primary" style="margin-right: 10px; margin-top: 10px">Continue</button>
        </form>
    </div>
{% endblock %}
