{% extends 'base.html.twig' %}

{% block title %}Hello AnnuaireController!{% endblock %}

{% block body %}
<h1>test</h1>
    <a class="btn btn-primary margin-10" href="{{ path('app_salle')}}" role="button">Salles</a>
{% endblock %}
