{% extends 'base.html.twig' %}

{% block title %}Hello AnnuaireController!{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-4">Home</h1>
        <a class="btn btn-primary margin-10" href="{{ path('app_salle')}}" role="button">Salles</a>
</div>
{% endblock %}
