{% extends 'base.html.twig' %}

{% block title %}Ajouter un systeme d'acquisition (SA){% endblock %}

{% block body %}
    <div class="container my-5" style="width: 50%">
        <h1 class="text-center mb-4">Ajouter un système d'acquisition (SA)</h1>
        <table class="table table-striped table-bordered text-center align-middle">
            <thead>
            <tr class="table-dark">
                <th class="nom">Nom</th>
                <th class="col">Détails</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for SA in liste_SA %}
                <tr>
                    <td class="nom">
                        {{ SA.nom }}
                    </td>
                    <td class="detail">
                        <a href="{{ path("app_sa_infos", {id:SA.id })}}">
                            voir
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="{{ path("app_sa_suppression", { id : SA.id }) }}" class="btn btn-outline-danger">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('app_sa_ajout')}}" role="button" style="margin-top: 10px">Ajouter un SA</a>
    </div>
{% endblock %}
