{% extends 'base.html.twig' %}

{% block title %}Ajouter un systeme d'acquisition (SA){% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4">SA inconnu.</h1>
    </div>
{% endblock %}
