/* General styling */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.page-content{
    border-top: 1px solid black;
}

#sidebar {
    float: left;
    padding: 10px;
    background-color: #D9D9D9;
    width: 25%;
    position: fixed; /* Fix the sidebar in place */
    /*top:0;*/
    height: 100%; /* Make the sidebar full height */
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

#sidebar .vertical-line{
    height: 100%;
    width: 2px;
    background-color: #1A5ED4;
}

#sidebar .horizontal-line{
    width: 20%;
    height: 2px;
    background-color: #1A5ED4;
}

/* Sidebar styling */
#plan_selection {
    padding: 10px;
    margin: 10px 10px 0 10px;
    background-color: #289EFF;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: large;
}

#etagesDiv {
    margin: 0 30px;
    display: flex;
}

#etagesDiv > span{
    flex: 1;
}

#etagesList {
    margin: 0;
    padding: 0;
}

#etagesList > li{
    display: flex;
    align-items: center;
}

.etage-affiche-toutes{
    font-size: large;
    margin: 10px 5px;
}

.etage-list-item{
    flex:1;
    margin: 10px;
}

#etagesList li a, .etage-affiche-toutes{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
}

#etagesList li a:hover, .etage-affiche-toutes:hover, .darken{
    background-color: #d0e2f5;
}

/* Plan table styling */
#plan {
    width: 70%;
    float: right;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#plan .horizontal-line{
    flex-grow: 1;
    height: 5px;
    background-color: #33CBEA;
}

#plan .line-stop{
    width: 50%;
    height: 5px;
    background-color: #33CBEA;
    color: red;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#plan .line-aggregate{
    width: 50%;
    height: 27px;
    border-left: 5px;
    border-bottom: 5px;
    border-top: 0;
    border-right: 0;
    border-color: #33CBEA;
    box-sizing: border-box;
    border-style: solid ;
}

#plan .flex{
    flex: 1;
    display: flex;
    align-items: center;
}

#plan .flex-2{
    min-height: 55px;
    display: flex;
    justify-content: end;
}

#plan #table-header {
    display: flex;
    border: 1px solid black;
    background-color: #00D01F;
    border-bottom: 0;
    color: white;
    flex-grow: 1;
}

#plan #table-header tr{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 10px;
}

#plan #table-header th{
    flex: 1 0 33%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    max-width: 33%;
}

/* Table rows */
#plan #table-content {
    border: 1px solid black;
    background-color: #FAF5FF;
    min-height: 100px;
}

.ligne-attribution{
    display: flex;
    margin: 10px 20px 10px 50px;
    align-items: center;
    justify-content: space-evenly;
}

.ligne-attribution td{
    font-weight: bold;
    flex: 1 0 33%;
    max-width: 33%;
}

.tdAttribuer{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}

.salleDiv{
    border: 5px solid #33CBEA;
    background-color: white;
    border-radius: 20px 0 20px 0;
    padding:5px 0 5px 25px;
}

/* Buttons and links */
.caseBleu, .supprAttr {
    text-decoration: none;
}

.caseBleu{
    color: #33CBEA;
    background-color: white;
}

.supprAttr {
    color: red;
    background-color: white;
}


.SAattribue {
    background-color: white;
    min-height: 55px;
    border: 5px solid #33CBEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.AucunSA {
    border: 5px solid red;
}

.infoSA{
    margin: 0;
    text-align: left;
}

.caseBleu:hover, .supprAttr:hover {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Hidden content */
.hidden {
    display: none;
}


.green-circle {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.toggle {
    cursor: pointer;
}

