{# templates/detail_plan/list.html.twig #}


{% extends 'template/liste.html.twig' %}

{% block nom %}
        <h3 class="{{ classItem }}Nom">
                {{ item.nom }}
        </h3>
{% endblock  %}
{% block entry %}

{% endblock %}
{% block modif %}
        <a href="{{ path('app_lier_liste', {'id' : item.id}) }}"><button class="btnModif">Detail plan</button></a>
{% endblock %}
