{# templates/detail_plan/list.html.twig #}


{% extends 'template/liste.html.twig' %}

{% block nom %}
        <h3 class="{{ classItem }}Nom">
                {{ item.nom }}
        </h3>
{% endblock  %}
{% block entry %}

{% endblock %}
{% block modif %}

{% endblock %}
