body {
    background-image: linear-gradient(to top right, #001932, #0041B5);
    background-attachment: fixed;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taches {
    border: #82C1FF solid 3px;
}

.bg-dark-orange {
    background-color: #FF8C00; /* Darker orange */
    color: #ffffff; /* Ensure text is readable */
}
