{% extends 'base.html.twig' %}

{% block title %}Ajouter une salle{% endblock %}

{% block body %}
<div class="container my-5" style="width: 40%">
    <h1 class="text-center mb-4">Attention</h1>
    <p>Êtes vous sur de vouloir supprimer la salle {{ nom }} ?</p><br>
    <a class="btn btn-primary" type="submit">Supprimer</a>
    <a class="btn btn-primary" href="{{ path('app_salle') }}">Annuler</a>
</div>
{% endblock %}