/* General styling */
body {
    font-family: Arial, sans-serif;
    position:relative;
    color : black;
    height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
}

.page-content{
    border-top: 1px solid black;
    overflow: auto;
}

#sidebar-wrapper {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    width: 25%;
    position: sticky; /* Fix the sidebar in place */
    top: 2vh;
    height: 98vh; /* Make the sidebar full height */
}

#sidebar {
    width: 100%;
    height: 100%; /* Make the sidebar full height */
    background-color: #D9D9D9;
    border: 1px solid #000;
    z-index: 1;
}

#deco-sidebar {
    height: 98%;
    width: 100%;
    position: absolute; /* Fix the sidebar in place */
    top: -10px;
    left: 10px;
    background-color: #B0B0B0;
    border: 1px solid #000;
    z-index: -1;
}


.filter-etage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#sidebar .vertical-line{
    height: 100%;
    width: 2px;
    background-color: #1A5ED4;
}

#sidebar .horizontal-line{
    width: 20%;
    height: 2px;
    background-color: #1A5ED4;
}

/* Sidebar styling */
.research{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.research form{
    flex-grow: 1;
}

.research i{
    font-size: 40px;
}

fieldset input{
    width: 15px;
    height: 15px;
    margin-bottom: 0;
    font-size: 16px;
}

fieldset label{
    font-size: 16px;
}

.white-container{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.action-button{
    margin-right: 10px;
    font-size: 20px;
}

#batiment_selection {
    padding: 10px;
    margin: 10px 10px 0 10px;
    background-color: #289EFF;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: large;
}

#etagesDiv {
    margin: 0 30px;
    display: flex;
}

#etagesDiv > span{
    flex: 1;
}

#etagesList {
    margin: 0;
    padding: 0;
}

#etagesList > li{
    display: flex;
    align-items: center;
}

.etage-affiche-toutes{
    font-size: large;
    margin: 10px 5px;
}

.etage-list-item{
    flex:1;
    margin: 10px;
}

#etagesList li a, .etage-affiche-toutes{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
}

#etagesList li a:hover, .etage-affiche-toutes:hover, .darken{
    background-color: #d0e2f5;
}

.switch-menu{
    font-size: 50px;
    text-align: end;
    padding-right: 20px;
}

.switch-menu>i{
    cursor: pointer;
}

.toolbox{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}



/* detail_plan styling */
#detail_plan {
    width: 95%;
    float: right;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.block-salle-container{
    flex-basis: 50%;
    padding: 10px 50px 10px 50px;
}

.block-salle{
    position: relative;
    font-size: 24px;
}

.nom-salle{
    border: 5px solid #33CBEA;
    background-color: #008CFF;
    border-radius: 0 50px 50px 0;
    padding: 5px 0 5px 20px;
    text-decoration: none;
    color: white;
    display: block;
}

.circle-niveau{
    background-color: #33CBEA;
    color: white;
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: -30px;
    top: -5px;
}


.SAattribue {
    border: 5px solid #33CBEA;
    border-top: 0;
    border-top-right-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}


.actions{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.nbrSAattribue{
    margin-left: 10px;
}

.gray-container{
    min-height: 70px;
    background-color: #D9D9D9;
    border-radius: 0 0 20px 20px;
}

.aucunResultat{
    display: flex;
}

.aucunResultat h2{
    background-color: rgba(0, 140, 255, 0.5);
    color: white;
    padding: 30px;
    margin: 30px 60px;
    flex-grow: 1;
}

/* Buttons and links */
.caseBleu, .supprAttr, .validerDemande{
    text-decoration: none;
}

.caseBleu{
    color: #33CBEA;
    background-color: white;
    padding-left: 5px;
}

.supprAttr {
    color: red;
    background-color: #D9D9D9;
    margin: 15px;
}

.validerDemande {
    color: green;
    background-color: #D9D9D9;
    margin: 15px;
}

.ligne-attribue{
    display: flex;
}

.pret{
    color:green;
    border: 3px solid green;
    margin: 10px;
    background-color: rgba(0, 128, 0, 0.5);
}

.installation{
    color:yellow;
    border: 3px solid yellow;
    margin: 10px;
    background-color: rgba(128, 128, 0, 0.5);
}

.deinstallation{
    color:red;
    border: 3px solid red;
    margin: 10px;
    background-color: rgba(256, 0, 0, 0.5);
}

.infoSA{
    margin: 0;
    text-align: left;
    flex-grow: 1;
}

.caseBleu:hover, .supprAttr:hover, .validerDemande:hover, .switch-menu>i:hover{
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

/* Hidden content */
.hidden {
    display: none;
}


.green-circle {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.toggle {
    cursor: pointer;
}

