.all {
    width: 75%;
    margin: auto;
}

h1 {
    grid-area: titre1;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

h2 {
    grid-area: titre2;
    color: #404040;
    text-align: center;
    margin : 15px;
}






/*  METRIQUES  */

.metriques {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dataBlock {
    border-radius: 10px;
    padding: 10px;
    width: 305px;
}

.bottomMet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.temp {
    border: 2px solid #FFD900;
    background-color: #FFFB78;
}

.co2 {
    border: 2px solid #FF7171;
    background-color: #FFBABA;
}

.humidite {
    border: 2px solid #6ADFFF;
    background-color: #B9F0FF;
}

.textData {
    font-size: 18px;
    font-weight: 20;
}

.etatNomCap {
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.etatCap {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: red;
}

.nomCap {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 20;
}

.data {
    text-align: end;
    font-size: 42px;
    font-weight: bold;
}

.ppm {
    font-size: 18px;
}






/*  BAS DE PAGE  */

.below {
    display: grid;
    grid-template-areas:
        "infos     graphs"
        "capteurs  graphs";
    grid-template-columns: 25% 75%;
}







/*  INFORMATIONS SALLE  */

.infosSalle {
    grid-area: infos;
    border: 1px solid black;
    border-radius: 10px;
    width: 295px;
    height: min-content;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 40px;
}

.titreInfo {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.el {
    margin-left: 10px;
}






/*  LISTE CAPTEURS  */

.listeCapteurs {
    grid-area: capteurs;
    border: 1px solid black;
    border-radius: 10px;
    width: 295px;
    height: min-content;
    padding: 10px;
    padding-bottom: 0;
    margin-right: 30px;
    margin-bottom: 40px;
}

.titreListeCapteurs {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 22px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.btnCap {
    background-color: #D9D9D9;
    margin-bottom: 22px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 45px;
}

.btnCap:hover {
    background-color: #BBBBBB;
}






/*  GRAPHIQUES DES DONNEES  */

.graphs {
    grid-area: graphs;
    margin-bottom: 30px;
    padding: 30px;
    height: max-content;
    width: 100%;
    background-color: #F6F6F6;
    border: 1px solid black;
    border-radius: 10px;
}

.echelle {
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gr {
    width: 170px;
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    color: black;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid black;
    font-weight: 20;
}

.gr:hover {
    font-weight: bold;
}

.graphique {
    margin: auto;
    margin-bottom: 20px;
    height: 300px;
    width: 80%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.dataGraph {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dataCap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 168px;
    height: 40px;
}

.color {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.colorTemp {
    background-color: #FFF700;
}

.colorCO2 {
    background-color: #FF0000;
}

.colorHumi {
    background-color: #00C8FF;
}

.colorTout {
    background-color: #B3B3B3;
}

.text {
    margin: auto;
}
