.saBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 1px solid black;
    height: 132px;
    margin-top: 30px;
}

.saBlock:hover {
    box-shadow: 0.9px 5px 5px black;
}

.saBlock:has(.checkbox:checked) {
    border: 1px solid dodgerblue;
    background-color: lightblue;
}

.saInfos {
    display: flex;
    flex-direction: row;
}

.sa_1 {
    width: 200px;
    font-size: 28px;
    font-weight: bold;
    margin-left: 20px;
}

.sa{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
    gap:10px;
}

.getCount {
    font-size: 20px;
    margin-left: 20px;
}