{% extends 'base.html.twig' %}

{% block title %}Smart Campus{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/css/pageAccueil.css">
    <div class="container my-5 text-center" style="width: 80%">
        <h1 class="text-center mb-4" style="margin: 20px">Accueil</h1>
        <h2 class="text-center mb-4">Smart campus</h2>
            <p class="text-center contexte">Dans un contexte où la gestion de l'environnement intérieur (qualité de l'air, température et humidité)
                devient cruciale pour le confort des individus,
                ce projet cherche à concevoir un système efficace pour surveiller et optimiser ces paramètres. </p>
    </div>
{% endblock %}
