{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}{% block body %}

    <div class="accueil-container" >
        <div class="row accueil-row">
            <div class="col-md-12 image-bandeau">
                <div class="content">
                    <h1>Smart Campus</h1>
                    <p>Ce projet vise à concevoir un système efficace pour surveiller et optimiser la qualité de l'air, la température et l'humidité, essentiels au confort intérieur.</p>                </div>
                </div>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
<style>
    .text-test
    {
        font-size: 30px;
        padding:50px;
        color:#FFFFFF;
    }
</style>

{% endblock %}
