{% extends 'base.html.twig' %}

{% block title %}Smart Campus{% endblock %}

{% block body %}
    <div class="container my-5 text-center" style="width: 65%">
        <h1 class="text-center mb-4" style="margin: 20px">Accueil</h1>
        <h2 class="text-center mb-4">Smart campus</h2>
            <p class="text-center" style="width: 40%">Dans un contexte où la gestion de l'environnement intérieur (qualité de l'air, température et humidité)
                devient cruciale pour le confort des individus,
                ce projet cherche à concevoir un système efficace pour surveiller et optimiser ces paramètres. </p>
                <a class="btn btn-primary btn-lg w-25" href="/salle" style="margin-top: 15px">Salles</a>
                <a class="btn btn-primary btn-lg w-25" href="/sa" style="margin-top: 15px">Systèmes d'acquisition</a>
    </div>

{% endblock %}
