{% extends 'base.html.twig' %}

{% block title %}Smart Campus{% endblock %}

{% block body %}
    <!-- La div qui prend toute la taille de l'écran -->
    <div class="d-flex justify-content-center align-items-center vh-100">
        <!-- La div centrée avec une largeur, une hauteur, un fond grisé et une bordure -->
        <div class="d-flex flex-column align-items-center w-50 h-75 bg-light rounded p-4">
            <h1>Panneau d'administration</h1>
            <a class="btn btn-primary btn-lg w-25" href="/salle" style="margin-top: 15px">Salles</a>
            <a class="btn btn-primary btn-lg w-25" href="/sa" style="margin-top: 15px">Systèmes d'acquisition</a>
        </div>
    </div>
{% endblock %}
